#maindiv{
    border: 2px solid red;
    background-color: aqua;
    margin: 200px ;
    width: 700px;
}
.button{
    background-color: blue;
    color: white;
    height: 50px;
    width: 150px;
    margin: 20px;
}
#h1{
    text-align: center;
}